In [226]:
import pandas as pd
import numpy as np

In [227]:
df = pd.read_csv('./datasets/hulu_titles.csv')

In [256]:
df.shape

(3073, 13)

In [228]:
df.isna().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [229]:

df["director"].fillna("unknown", inplace=True)
df["cast"].fillna("unknown", inplace=True)
df["country"].fillna("unknown", inplace=True)
#df["date_added"].fillna("no", inplace=True)
df["rating"].fillna("G", inplace=True)

In [230]:
df['id'] = df.apply(lambda x: "a" + x['show_id'], axis=1)

In [231]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description', 'id'],
      dtype='object')

In [232]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
id              object
dtype: object

In [233]:
df["date_added"] =  pd.to_datetime(df["date_added"])

In [234]:
df["date_added"] = pd.to_datetime(df["date_added"].dt.strftime('%y%m%d'))

In [235]:
new = df["duration"].str.split(" ", n = 1, expand = True)

In [236]:
df["duration_int"] = new[0]
df["duration_type"] = new[1]

In [237]:
result = df["duration_int"] == 'object'

In [238]:
if type(t) == np.dtype('U'):
  print(t)

In [239]:
df["duration_int"] = df["duration_int"].apply(lambda x: int(x) if type(x) == np.dtype('U') else x)

In [240]:
duration_mean = df["duration_int"].mean()

In [241]:
df["duration_int"].fillna(round(duration_mean), inplace=True)
df["duration_type"].fillna("unknown", inplace=True)

df["duration_int"].unique()

array([ 40.,  94., 108.,  97., 104.,   1.,  88.,   3., 113.,   6.,  87.,
         7.,   2.,   4.,  84.,  95.,  15., 101.,  93., 105.,  12.,   8.,
        99., 112., 124.,  23., 145., 125., 157.,  41.,  89.,   5.,  80.,
        90., 116., 102., 100., 110., 114., 115., 130., 133.,  91., 121.,
        96., 107., 103., 109.,  98., 119., 106., 111., 118., 117., 136.,
       181., 182., 128., 138., 126.,  72.,  16.,  20.,   9.,  86.,  75.,
       144.,  26.,  76., 129.,  83.,  92., 127., 139.,  79., 192., 131.,
       123., 122.,  82.,  10.,  81., 134., 135., 170., 162.,  13.,  45.,
       152.,  85.,  14., 146.,  11., 161.,  29., 143., 142.,  63.,  42.,
        17., 120.,  77.,  65.,  70.,  19.,  30.,  22., 149.,  52.,  60.,
       153., 151.,  46.,  37., 132.,  67.,  44.,  51.,  58.,  71.,  74.,
        78.,  25.,  57.,  34.,  54.,  56.])

In [242]:
df['duration_int'] = df['duration_int'].astype('int')
df['release_year'] = df['release_year'].astype('int')

In [243]:
df["duration_int"].unique()

array([ 40,  94, 108,  97, 104,   1,  88,   3, 113,   6,  87,   7,   2,
         4,  84,  95,  15, 101,  93, 105,  12,   8,  99, 112, 124,  23,
       145, 125, 157,  41,  89,   5,  80,  90, 116, 102, 100, 110, 114,
       115, 130, 133,  91, 121,  96, 107, 103, 109,  98, 119, 106, 111,
       118, 117, 136, 181, 182, 128, 138, 126,  72,  16,  20,   9,  86,
        75, 144,  26,  76, 129,  83,  92, 127, 139,  79, 192, 131, 123,
       122,  82,  10,  81, 134, 135, 170, 162,  13,  45, 152,  85,  14,
       146,  11, 161,  29, 143, 142,  63,  42,  17, 120,  77,  65,  70,
        19,  30,  22, 149,  52,  60, 153, 151,  46,  37, 132,  67,  44,
        51,  58,  71,  74,  78,  25,  57,  34,  54,  56])

In [244]:
df.drop(columns =["duration"], inplace = True)

In [245]:
df.drop(columns =["show_id"], inplace = True)

In [246]:
df.head(3)

,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,id,duration_int,duration_type
0,Movie,Ricky Velez: Here's Everything,unknown,unknown,unknown,2024-10-21,2021,TV-MA,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,as1,40,unknown
1,Movie,Silent Night,unknown,unknown,unknown,2023-10-21,2020,G,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",as2,94,min
2,Movie,The Marksman,unknown,unknown,unknown,2023-10-21,2021,PG-13,"Action, Thriller",A hardened Arizona rancher tries to protect an...,as3,108,min

In [247]:
df.isna().sum()

type              0
title             0
director          0
cast              0
country           0
date_added       28
release_year      0
rating            0
listed_in         0
description       4
id                0
duration_int      0
duration_type     0
dtype: int64

In [248]:
df['duration_type'] = df['duration_type'].replace('Season','Seasons')

In [249]:
df.dtypes

type                     object
title                    object
director                 object
cast                     object
country                  object
date_added       datetime64[ns]
release_year              int64
rating                   object
listed_in                object
description              object
id                       object
duration_int              int64
duration_type            object
dtype: object

In [250]:
dtypes = df.dtypes.to_dict()

In [251]:
my_type = 'object' # because str have len its not a str :| but object

for col_name, typ in dtypes.items():
  if typ == my_type:
    print("To lowercase: ", col_name, typ)
    df[col_name] = df[col_name].str.lower()
  else:
    print('Cannot convert: ', col_name, typ)

SI type object
SI title object
SI director object
SI cast object
SI country object
NO date_added datetime64[ns]
NO release_year int64
SI rating object
SI listed_in object
SI description object
SI id object
NO duration_int int64
SI duration_type object

In [252]:
for col in df.columns:
  print("Col Name:", col)
  print(df[col].unique(), "\n")

Col Name: type
['movie' 'tv show']

Col Name: title
["ricky velez: here's everything" 'silent night' 'the marksman' ...
 'the fades' 'the twilight zone' 'tokyo magnitude 8.0']

Col Name: director
['unknown'
 'director jennifer kent ("the babadook") tells the sweeping tale of a young woman\'s quest for revenge set in 1825 against the perilous and unforgiving terrain of tasmania.'
 'director gigi saul guerrero talks through culture shock’s themes – immigration, filmmaking, and latinidad – in this one-on-one chat.'
 'director alex winter goes inside the biggest global corruption scandal in history that was uncovered by hundreds of journalists, working in secret and at enormous risk.']

Col Name: cast
['unknown']

Col Name: country
['unknown' 'united states' 'japan' 'united kingdom'
 'united kingdom, united states' 'united kingdom, mexico, united states'
 'ireland, united kingdom, germany, sweden'
 'united states, united kingdom' 'united kingdom, canada, united states'
 'canada, united states' 'united states, united kingdom, germany, canada'
 'united states, mexico' 'france, united states'
 'united states, new zealand' 'canada' 'united states, canada'
 'united states, italy' 'canada, united kingdom'
 'united states, czech republic, spain' 'australia'
 'united states, denmark' 'israel' 'mexico, united states'
 'united states, canada, united kingdom' 'united states, australia'
 'russia' 'united states, south africa' 'italy, france, germany' 'france'
 'united kingdom, spain, ireland, united states' 'spain'
 'united states, japan' 'ireland, belgium, united states' 'ireland'
 'russia, united states' 'united kingdom, france, united states'
 'australia, united kingdom' 'germany, belgium' 'germany, luxembourg'
 'united kingdom, france, united states, china'
 'poland, united kingdom, ukraine' 'italy, united states' 'germany'
 'united kingdom, sweden, germany'
 'united states, malta, france, united kingdom'
 'united states, canada, ireland'
 'chile, netherlands, spain, germany, united states'
 'united kingdom, united arab emirates' 'germany, norway'
 'sweden, united states, germany, united kingdom'
 'united states, united kingdom, italy'
 'united kingdom, philippines, hungary, united states'
 'united states, germany' 'united states, bulgaria, spain, germany'
 'united states, germany, bulgaria, china'
 'france, germany, bulgaria, united states' 'south korea'
 'canada, united states, spain, south korea'
 'czech republic, united kingdom, united states, france'
 'china, united states' 'germany, united states, thailand'
 'france, germany' 'new zealand' 'sweden, united states' 'france, canada'
 'united states, mexico, australia' 'united states, spain'
 'ireland, united kingdom, sweden, belgium, united states'
 'switzerland, france, belgium, united states'
 'denmark, france, sweden, germany, belgium, tunisia'
 'romania, france, germany, sweden' 'ireland, france'
 'afghanistan, united states' 'canada, united states, mexico'
 'united states, serbia, canada'
 'united states, united kingdom, australia'
 'australia, united arab emirates' 'united kingdom, israel, united states'
 'united states, germany, canada, united kingdom'
 'canada, united kingdom, united states'
 'united states, germany, norway, united kingdom, montenegro'
 'united states, ireland' 'united kingdom, united states, canada' 'norway'
 'united states, costa rica' 'united states, hong kong'
 'united kingdom, denmark, united states'
 'united states, australia, colombia, french polynesia, saudi arabia'
 'united kingdom, australia' 'united arab emirates, hong kong'
 'chile, colombia, spain, united states' 'germany, france, united states'
 'mexico' 'austria, united kingdom, germany, france'
 'sweden, france, norway, denmark' 'sweden'
 'denmark, sweden, france, germany'
 'united states, netherlands, united kingdom, denmark'
 'colombia, argentina, netherlands, germany, sweden, uruguay, united states, switzerland, denmark, france'
 'united states, bulgaria' 'austria, australia, germany, united states'
 'australia, united states'
 'denmark, germany, france, united kingdom, united states, qatar, syria'
 'venezuela' 'finland, germany, canada, sweden, france'
 'united kingdom, belgium, united states' 'canada, france'
 'colombia, united states' 'italy' 'united states, united kingdom, france'
 'united kingdom, germany, united states'
 'australia, united states, united kingdom'
 'sweden, denmark, united states'
 'australia, united states, united kingdom, india, singapore'
 'bulgaria, united states' 'italy, france'
 'switzerland, united kingdom, france, united states'
 'greece, new zealand'
 'united kingdom, ireland, united states, germany, japan, france'
 'united kingdom, sweden, norway' 'germany, czech republic'
 'sweden, denmark' 'france, spain, romania, belgium, united states'
 'denmark' 'united kingdom, india, germany, china, united states'
 'ireland, united kingdom' 'italy, belgium' 'united states, south korea'
 'germany, luxembourg, denmark, belgium, china'
 'iceland, poland, denmark, germany, france'
 'belgium, france, netherlands' 'france, belgium' 'romania, united states'
 'finland, united kingdom, canada' 'united kingdom, argentina' 'colombia'
 'italy, brazil, germany, france, sweden, united states'
 'sweden, denmark, finland'
 'united states, united kingdom, australia, canada'
 'united states, canada, mexico' 'norway, france, denmark, sweden'
 'france, belgium, united states' 'sweden, france' 'united states, france'
 'united kingdom, australia, new zealand, united states'
 'japan, united states' 'japan, taiwan' 'united states, china'
 'united kingdom, ireland' 'japan, france'
 'united kingdom, france, germany, ireland']

Col Name: date_added
['2024-10-21T00:00:00.000000000' '2023-10-21T00:00:00.000000000'
 '2022-10-21T00:00:00.000000000' ... '2001-08-06T00:00:00.000000000'
 '2014-06-07T00:00:00.000000000'                           'NaT']

Col Name: release_year
[2021 2020 2003 2011 2015 2012 2009 2016 2019 2017 2010 2014 2018 2006
 2013 1963 1981 1993 2002 1975 2005 2000 2001 1997 1972 1983 1994 2004
 1995 1987 1962 1979 1990 1964 1965 1989 1999 1998 1984 1985 2007 1982
 1986 1991 1996 1977 1973 2008 1967 1974 1976 1957 1953 1980 1958 1955
 1933 1960 1978 1992 1970 1988 1923 1966 1950 1968 1959 1951 1961 1971
 1954 1969]

Col Name: rating
['tv-ma' 'g' 'pg-13' 'r' 'tv-14' 'pg' 'tv-pg' 'not rated' 'tv-g'
 '2 seasons' 'tv-y' '93 min' '4 seasons' 'tv-y7' '136 min' '91 min'
 '85 min' '98 min' '89 min' '94 min' '86 min' '3 seasons' '121 min'
 '88 min' '101 min' '1 season' '83 min' '100 min' '95 min' '92 min'
 '96 min' '109 min' '99 min' '75 min' '87 min' '67 min' '104 min'
 '107 min' '84 min' '103 min' '105 min' '119 min' '114 min' '82 min'
 '90 min' '130 min' '110 min' '80 min' '6 seasons' '97 min' '111 min'
 '81 min' '49 min' '45 min' '41 min' '73 min' '40 min' '36 min' '39 min'
 '34 min' '47 min' '65 min' '37 min' '78 min' '102 min' '129 min'
 '115 min' '112 min' 'nr' '61 min' '106 min' '76 min' '77 min' '79 min'
 '157 min' '28 min' '64 min' '7 min' '5 min' '6 min' '127 min' '142 min'
 '108 min' '57 min' '118 min' '116 min' '12 seasons' '71 min']

Col Name: listed_in
['comedy, stand up' 'crime, drama, thriller' 'action, thriller' 'horror'
 'science fiction, thriller' 'family, kids' 'horror, thriller'
 'cooking & food, documentaries, lifestyle & culture' 'drama, music'
 'reality, romance' 'music, news' 'comedy, drama' 'news' 'drama, mystery'
 'reality' 'sports' 'documentaries, history' 'history, reality'
 'documentaries, reality, teen' 'thriller'
 'health & wellness, lifestyle & culture, reality'
 'black stories, reality' 'documentaries, reality, romance'
 'documentaries, drama, mystery' 'documentaries, reality'
 'documentaries, news' 'latino, reality'
 'latino, mystery, science fiction' 'comedy, latino'
 'documentaries, sports' 'action, adventure, comedy' 'drama' 'comedy'
 'documentaries' 'crime, documentaries' 'action, adventure, anime'
 'action, adventure' 'anime'
 'cooking & food, lifestyle & culture, reality' 'comedy, crime, drama'
 'reality, teen' 'comedy, family' 'comedy, drama, romance'
 'action, adventure, drama' 'drama, romance, thriller'
 'comedy, late night, sketch comedy' 'adventure, drama, science fiction'
 'action, adventure, horror' 'black stories, drama, history'
 'crime, drama' 'kids' 'comedy, family, kids'
 'drama, romance, science fiction' 'drama, horror, thriller'
 'adventure, family, kids' 'adventure, drama, history'
 'action, crime, drama' 'drama, horror, science fiction'
 'action, adventure, classics' 'action, adventure, thriller'
 'adventure, comedy, family' 'drama, romance'
 'black stories, drama, lgbtq+' 'action, adventure, science fiction'
 'action, adventure, crime' 'comedy, romance' 'comedy, teen'
 'horror, science fiction, thriller' 'action, adventure, family'
 'action, drama' 'drama, teen' 'comedy, drama, family' 'comedy, music'
 'action, adventure, black stories' 'classics, crime, drama'
 'comedy, horror, news' 'drama, thriller' 'drama, horror'
 'adult animation, comedy, sitcom' 'crime, mystery'
 'adventure, comedy, kids' 'documentaries, lgbtq+'
 'drama, horror, mystery' 'crime, drama, mystery' 'drama, science fiction'
 'kids, latino' 'music, reality' 'comedy, sitcom' 'comedy, family, sitcom'
 'comedy, music, reality' 'health & wellness, news'
 'family, lifestyle & culture, reality' 'comedy, late night'
 'comedy, lgbtq+, sitcom' 'comedy, reality' 'crime, documentaries, sports'
 'cooking & food, drama, lifestyle & culture' 'action, comedy, thriller'
 'cooking & food, lifestyle & culture' 'documentaries, drama, sports'
 'documentaries, latino, music' 'drama, kids' 'crime' 'family, latino'
 'comedy, drama, lgbtq+' 'documentaries, international, latino'
 'drama, history' 'anime, comedy, drama' 'game shows, reality'
 'lifestyle & culture, reality' 'comedy, drama, music'
 'black stories, drama' 'action, drama, science fiction'
 'drama, history, music' 'music' 'cartoons' 'drama, music, romance'
 'drama, family, kids' 'adventure, kids'
 'drama, science fiction, thriller' 'drama, sports'
 'black stories, crime, drama' 'drama, international'
 'drama, international, romance' 'action, drama, thriller'
 'drama, mystery, science fiction' 'comedy, mystery'
 'international, latino, reality' 'lifestyle & culture'
 'adventure, science fiction' 'action, adult animation, adventure'
 'drama, lgbtq+, romance' 'adventure, comedy' 'reality, sports'
 'horror, mystery, thriller' 'black stories, documentaries'
 'documentaries, drama' 'adventure, cartoons, family'
 'drama, horror, latino' 'action, black stories, comedy'
 'classics, documentaries, drama' 'adventure, drama, romance'
 'comedy, horror' 'documentaries, music' 'romance'
 'family, game shows, reality' 'news, science & technology'
 'drama, history, horror' 'drama, international, mystery'
 'comedy, thriller' 'anime, international' 'science fiction'
 'adult animation, drama, science fiction' 'documentaries, international'
 'drama, history, thriller' 'international, reality, romance'
 'comedy, international, latino' 'black stories, comedy, sitcom'
 'comedy, drama, international' 'drama, horror, international'
 'action, horror, science fiction' 'documentaries, thriller'
 'horror, science fiction' 'drama, lgbtq+, music'
 'action, horror, thriller' 'drama, mystery, thriller'
 'black stories, comedy, crime' 'crime, drama, international'
 'adventure, drama, horror' 'black stories, lgbtq+, reality'
 'comedy, international' 'drama, history, lgbtq+' 'comedy, kids'
 'action, adventure, mystery' 'lifestyle & culture, news'
 'documentaries, reality, science & technology'
 'game shows, reality, sports'
 'cooking & food, family, lifestyle & culture' 'drama, family, teen'
 'crime, documentaries, drama' 'action, adventure, documentaries'
 'action, adventure, reality' 'documentaries, drama, history'
 'documentaries, history, reality' 'news, reality, science & technology'
 'drama, lgbtq+, thriller' 'documentaries, international, lgbtq+'
 'action, horror' 'drama, lgbtq+, latino' 'international, reality'
 'drama, international, lgbtq+' 'family, music, reality'
 'black stories, comedy, drama' 'adventure, drama'
 'crime, mystery, thriller' 'comedy, drama, thriller'
 'documentaries, health & wellness, lifestyle & culture'
 'crime, documentaries, mystery'
 'black stories, drama, lifestyle & culture'
 'adult animation, comedy, science fiction' 'history, news'
 'documentaries, drama, lgbtq+' 'comedy, drama, science fiction'
 'adventure, documentaries, reality' 'action, comedy'
 'black stories, drama, family' 'comedy, reality, romance'
 'crime, drama, lgbtq+' 'comedy, latino, sitcom'
 'black stories, documentaries, music' 'crime, drama, horror'
 'crime, documentaries, music' 'action, anime, thriller' 'action, sports'
 'mystery, thriller' 'documentaries, science & technology'
 'action, anime, drama' 'comedy, documentaries'
 'comedy, documentaries, history' 'adventure, cartoons, comedy'
 'black stories, lgbtq+, lifestyle & culture' 'action, anime, comedy'
 'comedy, drama, horror' 'crime, documentaries, reality'
 'adventure, comedy, romance' 'comedy, science fiction, sitcom'
 'comedy, lgbtq+' 'drama, family, international' 'latino, sports'
 'drama, lifestyle & culture' 'cooking & food, family, reality'
 'comedy, news' 'action, adventure, news' 'history'
 'documentaries, history, latino' 'documentaries, science fiction'
 'documentaries, lifestyle & culture' 'documentaries, music, news'
 'black stories, documentaries, romance' 'drama, lgbtq+'
 'black stories, thriller' 'comedy, horror, thriller'
 'black stories, drama, reality' 'comedy, documentaries, drama'
 'comedy, lifestyle & culture' 'comedy, lifestyle & culture, reality'
 'action, adventure, lifestyle & culture' 'game shows'
 'adventure, anime, drama' 'classics, drama, music'
 'comedy, science fiction' 'action, adventure, cartoons' 'drama, family'
 'black stories, drama, horror' 'comedy, international, sitcom'
 'news, reality' 'action, anime, international'
 'drama, family, science fiction' 'adventure, kids, science fiction'
 'adventure, cartoons, kids' 'adventure, drama, mystery'
 'documentaries, drama, news' 'black stories, horror, thriller'
 'black stories, documentaries, sports' 'comedy, news, stand up'
 'action, comedy, crime' 'action' 'adult animation, adventure, comedy'
 'kids, teen' 'drama, kids, teen' 'documentaries, family, reality'
 'black stories, horror' 'crime, documentaries, news'
 'documentaries, news, science & technology' 'cartoons, family, kids'
 'adventure, drama, family' 'action, drama, horror' 'drama, latino'
 'action, adventure, kids' 'comedy, latino, news'
 'action, science fiction' 'black stories, comedy, family'
 'comedy, documentaries, stand up' 'documentaries, international, reality'
 'black stories, comedy' 'action, adventure, latino'
 'game shows, music, reality' 'black stories, drama, romance'
 'international, kids' 'science & technology'
 'family, international, kids' 'adult animation, comedy'
 'family, kids, lifestyle & culture' 'action, kids'
 'documentaries, drama, science & technology' 'drama, health & wellness'
 'documentaries, kids' 'documentaries, health & wellness, reality'
 'drama, mystery, reality' 'drama, international, science fiction'
 'black stories, documentaries, drama' 'comedy, drama, latino'
 'comedy, lgbtq+, romance' 'black stories, cartoons, kids'
 'cartoons, comedy, kids' 'family, health & wellness, reality'
 'adventure, documentaries' 'documentaries, reality, sports'
 'comedy, drama, history' 'anime, drama, history' 'classics, news'
 'black stories, lifestyle & culture, reality' 'drama, reality'
 'drama, international, latino' 'adventure, international, thriller'
 'drama, international, thriller' 'black stories, drama, kids'
 'anime, drama, international' 'black stories, crime, documentaries'
 'anime, science fiction' 'anime, comedy, science fiction'
 'comedy, documentaries, horror' 'comedy, lgbtq+, music'
 'adventure, anime, international' 'anime, drama, science fiction'
 'anime, comedy, international' 'anime, international, science fiction'
 'anime, kids' 'documentaries, lgbtq+, reality'
 'family, lifestyle & culture' 'crime, drama, latino'
 'cooking & food, documentaries, reality' 'action, comedy, drama'
 'black stories, comedy, romance' 'comedy, family, science fiction'
 'crime, horror' 'horror, lgbtq+, thriller' 'anime, crime, drama'
 'action, crime, mystery' 'anime, drama' 'documentaries, family'
 'anime, crime' 'drama, romance, teen' 'black stories, comedy, horror'
 'family, reality, sports' 'anime, comedy, romance' 'crime, reality'
 'drama, family, music' 'black stories, music, reality'
 'black stories, drama, music' 'latino, music, reality'
 'documentaries, history, news' 'action, anime, science fiction'
 'drama, horror, teen'
 'documentaries, lifestyle & culture, science & technology'
 'documentaries, history, lifestyle & culture'
 'documentaries, lifestyle & culture, news'
 'documentaries, lifestyle & culture, music' 'crime, drama, teen'
 'cartoons, comedy, family' 'drama, horror, music' 'kids, lgbtq+'
 'family, game shows, music' 'lifestyle & culture, reality, sports'
 'comedy, latino, stand up' 'comedy, history' 'anime, family, kids'
 'international, romance, thriller' 'cooking & food'
 'action, comedy, lgbtq+' 'black stories, drama, mystery'
 'comedy, horror, sitcom' 'classics, comedy, family'
 'drama, history, romance' 'documentaries, horror, science & technology'
 'classics, comedy, drama' 'documentaries, latino'
 'family, science fiction' 'black stories, comedy, science fiction'
 'latino' 'action, comedy, horror' 'comedy, sitcom, teen' 'family'
 'comedy, drama, teen' 'adventure, black stories, comedy'
 'drama, latino, romance' 'adventure, family, lifestyle & culture'
 'drama, international, sports' 'comedy, kids, sitcom'
 'action, adventure, health & wellness' 'cartoons, kids'
 'classics, horror, thriller' 'anime, horror, international'
 'adult animation, international, latino' 'comedy, drama, sitcom'
 'black stories, classics, comedy'
 'cooking & food, international, lifestyle & culture'
 'family, horror, reality' 'drama, latino, teen' 'comedy, romance, sitcom'
 'adult animation, comedy, international' 'anime, comedy, horror'
 'anime, international, mystery' 'anime, drama, horror'
 'adult animation, black stories, comedy' 'comedy, music, sitcom'
 'lifestyle & culture, reality, teen' 'science fiction, teen'
 'action, adult animation, anime' 'adventure, anime' 'action, anime'
 'classics, comedy, sitcom' 'adventure, comedy, drama' 'family, reality'
 'drama, history, international' 'cartoons, kids, lgbtq+'
 'classics, drama, history' 'comedy, crime, international'
 'adventure, reality' 'adventure, kids, latino'
 'classics, family, lifestyle & culture' 'comedy, family, international'
 'anime, comedy' 'anime, international, romance' 'family, kids, latino'
 'black stories, comedy, sketch comedy' 'adult animation, comedy, latino'
 'crime, drama, history' 'comedy, international, sketch comedy'
 'action, adult animation' 'comedy, music, teen' 'comedy, family, teen'
 'drama, family, mystery' 'adventure, drama, international'
 'adventure, anime, science fiction' 'adventure, anime, kids'
 'adventure, anime, comedy' 'drama, science fiction, teen'
 'comedy, family, history' 'comedy, horror, mystery'
 'horror, international, science fiction'
 'classics, science fiction, thriller']

Col Name: description
['\u200bcomedian ricky velez bares it all with his honest lens and down to earth perspective in his first-ever hbo stand-up special.'
 'mark, a low end south london hitman recently released from prison, tries to go straight for his daughter, but gets drawn back in by alan, his former cellmate, to do one final job.'
 'a hardened arizona rancher tries to protect an 11-year-old migrant boy fleeing from a ruthless drug cartel.'
 ...
 'seventeen-year-old paul is haunted by apocalyptic dreams. worse still, paul is starting to see the fades, spirits of the dead, all around him. the fate of humanity now rests in his hands.'

In [255]:
df["cast"].unique()

array(['unknown'], dtype=object)

In [258]:
ou9t = pd.read_csv('./out.csv')

In [259]:
ou9t.isna().sum()

type                0
title               0
director            0
cast                0
country             0
date_added       9554
release_year        0
rating              0
listed_in           0
description         4
id                  0
platform            0
duration_int        0
duration_type       0
dtype: int64