In [244]:
import pandas as pd

In [245]:
df = pd.read_csv('./datasets/hulu_titles.csv')

In [246]:
df.isna().sum()

show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
dtype: int64

In [247]:

df["director"].fillna("no", inplace=True)
df["cast"].fillna("no", inplace=True)
df["country"].fillna("no", inplace=True)
#df["date_added"].fillna("no", inplace=True)
df["rating"].fillna("G", inplace=True)

In [248]:
df['id'] = df.apply(lambda x: "a" + x['show_id'], axis=1)

In [249]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description', 'id'],
      dtype='object')

In [250]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
id              object
dtype: object

In [251]:
df["date_added"] =  pd.to_datetime(df["date_added"])

In [252]:
df["date_added"] = pd.to_datetime(df["date_added"].dt.strftime('%y%m%d'))

In [253]:
new = df["duration"].str.split(" ", n = 1, expand = True)

In [254]:
df["duration_int"] = new[0]
df["duration_type"] = new[1]

In [255]:
df["duration_int"].fillna("50", inplace=True)
df["duration_type"].fillna("no", inplace=True)

df["duration_int"].unique()

array(['50', '94', '108', '97', '104', '1', '88', '3', '113', '6', '87',
       '7', '2', '4', '84', '95', '15', '101', '93', '105', '12', '8',
       '99', '112', '124', '23', '145', '125', '157', '41', '89', '5',
       '80', '90', '116', '102', '100', '110', '114', '115', '130', '133',
       '91', '121', '96', '107', '103', '109', '98', '119', '106', '111',
       '118', '117', '136', '181', '182', '128', '138', '126', '72', '16',
       '20', '9', '86', '75', '144', '26', '76', '129', '83', '92', '127',
       '139', '79', '192', '131', '123', '122', '82', '10', '81', '134',
       '135', '170', '162', '40', '13', '45', '152', '85', '14', '146',
       '11', '161', '29', '143', '142', '63', '42', '17', '120', '77',
       '65', '70', '19', '30', '22', '149', '52', '60', '153', '151',
       '46', '37', '132', '67', '44', '51', '58', '71', '74', '78', '25',
       '57', '34', '54', '56'], dtype=object)

In [256]:
df['duration_int'] = df['duration_int'].astype('int')
df['release_year'] = df['release_year'].astype('int')

In [257]:
df["duration_int"].unique()

array([ 50,  94, 108,  97, 104,   1,  88,   3, 113,   6,  87,   7,   2,
         4,  84,  95,  15, 101,  93, 105,  12,   8,  99, 112, 124,  23,
       145, 125, 157,  41,  89,   5,  80,  90, 116, 102, 100, 110, 114,
       115, 130, 133,  91, 121,  96, 107, 103, 109,  98, 119, 106, 111,
       118, 117, 136, 181, 182, 128, 138, 126,  72,  16,  20,   9,  86,
        75, 144,  26,  76, 129,  83,  92, 127, 139,  79, 192, 131, 123,
       122,  82,  10,  81, 134, 135, 170, 162,  40,  13,  45, 152,  85,
        14, 146,  11, 161,  29, 143, 142,  63,  42,  17, 120,  77,  65,
        70,  19,  30,  22, 149,  52,  60, 153, 151,  46,  37, 132,  67,
        44,  51,  58,  71,  74,  78,  25,  57,  34,  54,  56])

In [258]:
df.drop(columns =["duration"], inplace = True)

In [259]:
df.drop(columns =["show_id"], inplace = True)

In [260]:
df.head(3)

,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,id,duration_int,duration_type
0,Movie,Ricky Velez: Here's Everything,no,no,no,2024-10-21,2021,TV-MA,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,as1,50,no
1,Movie,Silent Night,no,no,no,2023-10-21,2020,G,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",as2,94,min
2,Movie,The Marksman,no,no,no,2023-10-21,2021,PG-13,"Action, Thriller",A hardened Arizona rancher tries to protect an...,as3,108,min

In [261]:
df.isna().sum()

type              0
title             0
director          0
cast              0
country           0
date_added       28
release_year      0
rating            0
listed_in         0
description       4
id                0
duration_int      0
duration_type     0
dtype: int64

In [262]:
df['duration_type'] = df['duration_type'].replace('Season','Seasons')

In [263]:
df.dtypes

type                     object
title                    object
director                 object
cast                     object
country                  object
date_added       datetime64[ns]
release_year              int64
rating                   object
listed_in                object
description              object
id                       object
duration_int              int64
duration_type            object
dtype: object

In [264]:
dtypes = df.dtypes.to_dict()

In [265]:
my_type = 'object' # because str have len its not a str :| but object

for col_name, typ in dtypes.items():
  if typ == my_type:
    df[col_name] = df[col_name].apply(str.lower)
    print("SI", col_name, typ)
  else:
    print('NO', col_name, typ)

SI type object
SI title object
SI director object
SI cast object
SI country object
NO date_added datetime64[ns]
NO release_year int64
SI rating object
SI listed_in object

TypeError: descriptor 'lower' for 'str' objects doesn't apply to a 'float' object

In [ ]:
df.head(5)