In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('data/datasets/netflix_titles.csv')

In [5]:
df.shape

(8807, 12)

In [6]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [ ]:

df["director"].fillna("unknown", inplace=True)
df["cast"].fillna("unknown", inplace=True)
df["country"].fillna("unknown", inplace=True)
#df["date_added"].fillna("no", inplace=True)
df["rating"].fillna("G", inplace=True)

In [ ]:
df['id'] = df.apply(lambda x: "a" + x['show_id'], axis=1)

In [ ]:
df.columns

In [ ]:
df.dtypes

'August1,2016'

In [23]:
df["date_added"] =  pd.to_datetime(df["date_added"], format='mixed')

In [24]:
df["date_added"] = pd.to_datetime(df["date_added"].dt.strftime('%y%m%d'))

/tmp/ipykernel_30060/2419651795.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["date_added"] = pd.to_datetime(df["date_added"].dt.strftime('%y%m%d'))

In [25]:
new = df["duration"].str.split(" ", n = 1, expand = True)

In [ ]:
df["duration_int"] = new[0]
df["duration_type"] = new[1]

In [ ]:
result = df["duration_int"] == 'object'

In [ ]:
if type(t) == np.dtype('U'):
  print(t)

In [ ]:
df["duration_int"] = df["duration_int"].apply(lambda x: int(x) if type(x) == np.dtype('U') else x)

In [ ]:
duration_mean = df["duration_int"].mean()

In [ ]:
df["duration_int"].fillna(round(duration_mean), inplace=True)
df["duration_type"].fillna("unknown", inplace=True)

df["duration_int"].unique()

In [ ]:
df['duration_int'] = df['duration_int'].astype('int')
df['release_year'] = df['release_year'].astype('int')

In [ ]:
df["duration_int"].unique()

In [ ]:
df.drop(columns =["duration"], inplace = True)

In [ ]:
df.drop(columns =["show_id"], inplace = True)

In [ ]:
df.head(3)

In [ ]:
df.isna().sum()

In [ ]:
df['duration_type'] = df['duration_type'].replace('Season','Seasons')

In [ ]:
df.dtypes

In [ ]:
dtypes = df.dtypes.to_dict()

In [ ]:
my_type = 'object' # because str have len its not a str :| but object

for col_name, typ in dtypes.items():
  if typ == my_type:
    print("To lowercase: ", col_name, typ)
    df[col_name] = df[col_name].str.lower()
  else:
    print('Cannot convert: ', col_name, typ)

In [ ]:
for col in df.columns:
  print("Col Name:", col)
  print(df[col].unique(), "\n")

In [ ]:
df["cast"].unique()

In [ ]:
ratings = pd.read_csv('./out_ratings.csv')

In [ ]:
movies = pd.read_csv('./out.csv')

In [ ]:
ratings.columns

In [ ]:
len(ratings["movieId"].unique())

In [ ]:
ratings["movieId"].unique()

In [ ]:
ratings[ratings["movieId"] == "hs2381"]["rating"].mean()

In [ ]:
mean_ss = ratings.groupby("movieId")["rating"].mean()

In [ ]:
def get_mean_score(movie_id):
  print(movie_id)
  m_s = mean_ss[movie_id]
  return m_s

In [ ]:
movies["mean_score"] = movies["id"].apply(get_mean_score)

In [80]:
movies

,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,id,platform,duration_int,duration_type,mean_score
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2030-03-21,2014,g,"comedy, drama",a small fishing village must procure a local d...,as1,amazon,113.0,min,3.467131
1,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2030-03-21,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,as2,amazon,110.0,min,3.548682
2,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2030-03-21,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,amazon,74.0,min,3.500000
3,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2030-03-21,2014,g,documentary,"pink breaks the mold once again, bringing her ...",as4,amazon,69.0,min,3.538055
4,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2030-03-21,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,amazon,45.0,min,3.478992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22760,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2020-11-19,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",ns8803,netflix,158.0,min,3.438998
22761,tv show,zombie dumb,unknown,unknown,unknown,2001-07-19,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",ns8804,netflix,2.0,seasons,3.515947
22762,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2001-11-19,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,ns8805,netflix,88.0,min,3.420945
22763,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2011-01-20,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806,netflix,88.0,min,3.588050
22764,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2002-03-19,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807,netflix,111.0,min,3.529228