In [1]:
import pandas as pd
from constants import list_url
import os

# No es ETL es DATA

In [2]:
print(os.getcwd())
print(list_url)

/home/printer/w/pi_ml_ops_api/ETL
[{'url': 'ratings/1.csv'}, {'url': 'ratings/2.csv'}, {'url': 'ratings/3.csv'}, {'url': 'ratings/4.csv'}, {'url': 'ratings/5.csv'}, {'url': 'ratings/6.csv'}, {'url': 'ratings/7.csv'}, {'url': 'ratings/8.csv'}]

In [2]:
def get_ratings(url):
  df = pd.read_csv(os.getcwd()+"/" + url, encoding='utf-8')
  return df

In [3]:
ratings_df = []
for item in list_url:
  df = get_ratings(url=item["url"])
  ratings_df.append(df)

merged_ratings = pd.concat(ratings_df)
merged_ratings.reset_index()

            index  userId  rating   timestamp movieId
0               0       1     1.0  1425941529   as680
1               1       1     4.5  1425942435  ns2186
2               2       1     5.0  1425941523  hs2381
3               3       1     5.0  1425941546  ns3663
4               4       1     5.0  1425941556  as9500
...           ...     ...     ...         ...     ...
11024284  1499995  124380     4.5  1196786159  ns5272
11024285  1499996  124380     2.5  1196786030  ns5492
11024286  1499997  124380     3.5  1196785679   hs305
11024287  1499998  124380     4.5  1196787089  ns7881
11024288  1499999  124380     1.5  1196785847   as883

[11024289 rows x 5 columns]

In [4]:
merged_ratings.shape

(11024289, 4)

In [ ]:
compression_opts = dict(method='zip',
                        archive_name='out_ratings.csv')

merged_ratings.to_csv('out_ratings.zip', encoding='utf-8', index=False, compression=compression_opts)